<div class="top">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <nav>
                    <a href="/allCars"><button class="btn btn-default">Visi auto</button></a>
                    <a href="/newCar"><button class="btn btn-default">Pievienot auto</button></a>
                    <button class="btn btn-default">Visi foto</button>
                    <button class="btn btn-default">Pievienot foto</button>
                    <button class="btn btn-default" ng-click="logout()">Iziet</button>
                </nav> 
            </div>
        </div>
    </div>
</div>


