<div class="top">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <admin-menu></admin-menu>
        </div>
    </div>
    <div class="row photo">
        <div class="col-sm-12">
            <div class="row" ng-repeat="images in chunkedData">
                <div class="col-sm-3 col-sm-offset-1" ng-repeat="image in images">
                    <div class="col-sm-9"><img src="images/uploads/{{image.src}}" /></div>
                    <div class="col-sm-3"><i class="glyphicon glyphicon-trash"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>