<div class="top">
    <div class="row">
        <div class="col-sm-6 text-right">
            <img class="slideshow" src="images/slideshow.gif" alt="Sia Mehāns fotogrāfijās" height="300px" width="400px"/>
        </div>
        <div class="col-sm-6 indent">
            <h3>{{ 'first1' | translate }}</h3>
            <p>{{ 'first2' | translate }}</p>
            <h3>{{ 'first3' | translate }}</h3>
            <p>{{ 'first4' | translate }}</p><!--tikai lv valodai -->
            <ul id="offer">
                <li><p><strong>{{ 'firstArt' | translate }}</strong></p></li>
                <li><p><strong>{{ 'first5' | translate }}</strong></p></li>
                <li><p><strong>{{ 'first6' | translate }}</strong></p></li>
                <li><p><strong>{{ 'first7' | translate }}</strong></p></li>
                <li><p><strong>{{ 'first8' | translate }}</strong></p></li>
                <li><p><strong>{{ 'first9' | translate }}</strong></p></li>
            </ul>
            <br />
            <h2>{{ 'first10' | translate }}</h2><!-- tikai ru valodai -->
        </div>
    </div>
</div>